# Configuración de Base de Datos PostgreSQL
DB_HOST=db
DB_PORT=5432
DB_NAME=fintech_db
DB_USER=fintech_user
DB_PASSWORD=fintech_pass123

# Configuración del Frontend (URL del API)
#REACT_APP_API_URL=http://localhost:3001
REACT_APP_API_URL=http://3.95.209.57:3001
# Configuración de Node.js
NODE_ENV=production
